@use '../../mixins/sprite-mixins';

$--nsg-all-sprite-sprite-url: '/assets/media/images/sprites/nsg-all-sprite.png';
$--nsg-all-sprite-sprite-height: 2710px;
$--nsg-all-sprite-sprite-width: 2168px;
$--nsg-all-sprite-sprite-size: $--nsg-all-sprite-sprite-width $--nsg-all-sprite-sprite-height;

$-nsg-all-sprite-android-files-mobile-x: -15px;
$-nsg-all-sprite-android-files-mobile-y: -15px;
$-nsg-all-sprite-android-files-mobile-width: 512px;
$-nsg-all-sprite-android-files-mobile-height: 512px;
$-nsg-all-sprite-android-files-mobile: $-nsg-all-sprite-android-files-mobile-x $-nsg-all-sprite-android-files-mobile-y $-nsg-all-sprite-android-files-mobile-width $-nsg-all-sprite-android-files-mobile-height;
$-nsg-all-sprite-aplication-deb-dll-x: -557px;
$-nsg-all-sprite-aplication-deb-dll-y: -15px;
$-nsg-all-sprite-aplication-deb-dll-width: 512px;
$-nsg-all-sprite-aplication-deb-dll-height: 512px;
$-nsg-all-sprite-aplication-deb-dll: $-nsg-all-sprite-aplication-deb-dll-x $-nsg-all-sprite-aplication-deb-dll-y $-nsg-all-sprite-aplication-deb-dll-width $-nsg-all-sprite-aplication-deb-dll-height;
$-nsg-all-sprite-apple-fat32-mac-x: -15px;
$-nsg-all-sprite-apple-fat32-mac-y: -557px;
$-nsg-all-sprite-apple-fat32-mac-width: 512px;
$-nsg-all-sprite-apple-fat32-mac-height: 512px;
$-nsg-all-sprite-apple-fat32-mac: $-nsg-all-sprite-apple-fat32-mac-x $-nsg-all-sprite-apple-fat32-mac-y $-nsg-all-sprite-apple-fat32-mac-width $-nsg-all-sprite-apple-fat32-mac-height;
$-nsg-all-sprite-apple-files-ios-x: -557px;
$-nsg-all-sprite-apple-files-ios-y: -557px;
$-nsg-all-sprite-apple-files-ios-width: 512px;
$-nsg-all-sprite-apple-files-ios-height: 512px;
$-nsg-all-sprite-apple-files-ios: $-nsg-all-sprite-apple-files-ios-x $-nsg-all-sprite-apple-files-ios-y $-nsg-all-sprite-apple-files-ios-width $-nsg-all-sprite-apple-files-ios-height;
$-nsg-all-sprite-cdr-eps-files-x: -1099px;
$-nsg-all-sprite-cdr-eps-files-y: -15px;
$-nsg-all-sprite-cdr-eps-files-width: 512px;
$-nsg-all-sprite-cdr-eps-files-height: 512px;
$-nsg-all-sprite-cdr-eps-files: $-nsg-all-sprite-cdr-eps-files-x $-nsg-all-sprite-cdr-eps-files-y $-nsg-all-sprite-cdr-eps-files-width $-nsg-all-sprite-cdr-eps-files-height;
$-nsg-all-sprite-configuration-files-help-2-x: -1099px;
$-nsg-all-sprite-configuration-files-help-2-y: -557px;
$-nsg-all-sprite-configuration-files-help-2-width: 512px;
$-nsg-all-sprite-configuration-files-help-2-height: 512px;
$-nsg-all-sprite-configuration-files-help-2: $-nsg-all-sprite-configuration-files-help-2-x $-nsg-all-sprite-configuration-files-help-2-y $-nsg-all-sprite-configuration-files-help-2-width $-nsg-all-sprite-configuration-files-help-2-height;
$-nsg-all-sprite-configuration-files-help-x: -15px;
$-nsg-all-sprite-configuration-files-help-y: -1099px;
$-nsg-all-sprite-configuration-files-help-width: 512px;
$-nsg-all-sprite-configuration-files-help-height: 512px;
$-nsg-all-sprite-configuration-files-help: $-nsg-all-sprite-configuration-files-help-x $-nsg-all-sprite-configuration-files-help-y $-nsg-all-sprite-configuration-files-help-width $-nsg-all-sprite-configuration-files-help-height;
$-nsg-all-sprite-database-dbs-files-x: -557px;
$-nsg-all-sprite-database-dbs-files-y: -1099px;
$-nsg-all-sprite-database-dbs-files-width: 512px;
$-nsg-all-sprite-database-dbs-files-height: 512px;
$-nsg-all-sprite-database-dbs-files: $-nsg-all-sprite-database-dbs-files-x $-nsg-all-sprite-database-dbs-files-y $-nsg-all-sprite-database-dbs-files-width $-nsg-all-sprite-database-dbs-files-height;
$-nsg-all-sprite-files-hack-secret-x: -1099px;
$-nsg-all-sprite-files-hack-secret-y: -1099px;
$-nsg-all-sprite-files-hack-secret-width: 512px;
$-nsg-all-sprite-files-hack-secret-height: 512px;
$-nsg-all-sprite-files-hack-secret: $-nsg-all-sprite-files-hack-secret-x $-nsg-all-sprite-files-hack-secret-y $-nsg-all-sprite-files-hack-secret-width $-nsg-all-sprite-files-hack-secret-height;
$-nsg-all-sprite-files-ntfs-operating-x: -1641px;
$-nsg-all-sprite-files-ntfs-operating-y: -15px;
$-nsg-all-sprite-files-ntfs-operating-width: 512px;
$-nsg-all-sprite-files-ntfs-operating-height: 512px;
$-nsg-all-sprite-files-ntfs-operating: $-nsg-all-sprite-files-ntfs-operating-x $-nsg-all-sprite-files-ntfs-operating-y $-nsg-all-sprite-files-ntfs-operating-width $-nsg-all-sprite-files-ntfs-operating-height;
$-nsg-all-sprite-danger-safety-secure-x: -1641px;
$-nsg-all-sprite-danger-safety-secure-y: -557px;
$-nsg-all-sprite-danger-safety-secure-width: 512px;
$-nsg-all-sprite-danger-safety-secure-height: 512px;
$-nsg-all-sprite-danger-safety-secure: $-nsg-all-sprite-danger-safety-secure-x $-nsg-all-sprite-danger-safety-secure-y $-nsg-all-sprite-danger-safety-secure-width $-nsg-all-sprite-danger-safety-secure-height;
$-nsg-all-sprite-document-file-paper-x: -1641px;
$-nsg-all-sprite-document-file-paper-y: -1099px;
$-nsg-all-sprite-document-file-paper-width: 512px;
$-nsg-all-sprite-document-file-paper-height: 512px;
$-nsg-all-sprite-document-file-paper: $-nsg-all-sprite-document-file-paper-x $-nsg-all-sprite-document-file-paper-y $-nsg-all-sprite-document-file-paper-width $-nsg-all-sprite-document-file-paper-height;
$-nsg-all-sprite-find-search-secure-x: -15px;
$-nsg-all-sprite-find-search-secure-y: -1641px;
$-nsg-all-sprite-find-search-secure-width: 512px;
$-nsg-all-sprite-find-search-secure-height: 512px;
$-nsg-all-sprite-find-search-secure: $-nsg-all-sprite-find-search-secure-x $-nsg-all-sprite-find-search-secure-y $-nsg-all-sprite-find-search-secure-width $-nsg-all-sprite-find-search-secure-height;
$-nsg-all-sprite-folder-lock-protection-x: -557px;
$-nsg-all-sprite-folder-lock-protection-y: -1641px;
$-nsg-all-sprite-folder-lock-protection-width: 512px;
$-nsg-all-sprite-folder-lock-protection-height: 512px;
$-nsg-all-sprite-folder-lock-protection: $-nsg-all-sprite-folder-lock-protection-x $-nsg-all-sprite-folder-lock-protection-y $-nsg-all-sprite-folder-lock-protection-width $-nsg-all-sprite-folder-lock-protection-height;
$-nsg-all-sprite-folder-protection-secure-x: -1099px;
$-nsg-all-sprite-folder-protection-secure-y: -1641px;
$-nsg-all-sprite-folder-protection-secure-width: 512px;
$-nsg-all-sprite-folder-protection-secure-height: 512px;
$-nsg-all-sprite-folder-protection-secure: $-nsg-all-sprite-folder-protection-secure-x $-nsg-all-sprite-folder-protection-secure-y $-nsg-all-sprite-folder-protection-secure-width $-nsg-all-sprite-folder-protection-secure-height;
$-nsg-all-sprite-key-lock-password-x: -1641px;
$-nsg-all-sprite-key-lock-password-y: -1641px;
$-nsg-all-sprite-key-lock-password-width: 512px;
$-nsg-all-sprite-key-lock-password-height: 512px;
$-nsg-all-sprite-key-lock-password: $-nsg-all-sprite-key-lock-password-x $-nsg-all-sprite-key-lock-password-y $-nsg-all-sprite-key-lock-password-width $-nsg-all-sprite-key-lock-password-height;
$-nsg-all-sprite-lock-mobile-phone-x: -2183px;
$-nsg-all-sprite-lock-mobile-phone-y: -15px;
$-nsg-all-sprite-lock-mobile-phone-width: 512px;
$-nsg-all-sprite-lock-mobile-phone-height: 512px;
$-nsg-all-sprite-lock-mobile-phone: $-nsg-all-sprite-lock-mobile-phone-x $-nsg-all-sprite-lock-mobile-phone-y $-nsg-all-sprite-lock-mobile-phone-width $-nsg-all-sprite-lock-mobile-phone-height;
$-nsg-all-sprite-mobile-phone-protection-x: -2183px;
$-nsg-all-sprite-mobile-phone-protection-y: -557px;
$-nsg-all-sprite-mobile-phone-protection-width: 512px;
$-nsg-all-sprite-mobile-phone-protection-height: 512px;
$-nsg-all-sprite-mobile-phone-protection: $-nsg-all-sprite-mobile-phone-protection-x $-nsg-all-sprite-mobile-phone-protection-y $-nsg-all-sprite-mobile-phone-protection-width $-nsg-all-sprite-mobile-phone-protection-height;
$-nsg-all-sprite-protection-secure-security-2-x: -2183px;
$-nsg-all-sprite-protection-secure-security-2-y: -1099px;
$-nsg-all-sprite-protection-secure-security-2-width: 512px;
$-nsg-all-sprite-protection-secure-security-2-height: 512px;
$-nsg-all-sprite-protection-secure-security-2: $-nsg-all-sprite-protection-secure-security-2-x $-nsg-all-sprite-protection-secure-security-2-y $-nsg-all-sprite-protection-secure-security-2-width $-nsg-all-sprite-protection-secure-security-2-height;
$-nsg-all-sprite-protection-secure-security-x: -2183px;
$-nsg-all-sprite-protection-secure-security-y: -1641px;
$-nsg-all-sprite-protection-secure-security-width: 512px;
$-nsg-all-sprite-protection-secure-security-height: 512px;
$-nsg-all-sprite-protection-secure-security: $-nsg-all-sprite-protection-secure-security-x $-nsg-all-sprite-protection-secure-security-y $-nsg-all-sprite-protection-secure-security-width $-nsg-all-sprite-protection-secure-security-height;


@mixin -nsg-all-sprite-sprite($sprite) {
  @include sprite-mixins.sprite($sprite, $--nsg-all-sprite-sprite-url);
}
