<div class="grid">
    <div class="grid__row">
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
        <div class="grid__column grid__column_xl-1">1</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-2">2</div>
        <div class="grid__column grid__column_xl-2">2</div>
        <div class="grid__column grid__column_xl-2">2</div>
        <div class="grid__column grid__column_xl-2">2</div>
        <div class="grid__column grid__column_xl-2">2</div>
        <div class="grid__column grid__column_xl-2">2</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-3">3</div>
        <div class="grid__column grid__column_xl-3">3</div>
        <div class="grid__column grid__column_xl-3">3</div>
        <div class="grid__column grid__column_xl-3">3</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-4">4</div>
        <div class="grid__column grid__column_xl-4">4</div>
        <div class="grid__column grid__column_xl-4">4</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-5">5</div>
        <div class="grid__column grid__column_xl-5">5</div>
        <div class="grid__column grid__column_xl-2">2</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-6">6</div>
        <div class="grid__column grid__column_xl-6">6</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-7">7</div>
        <div class="grid__column grid__column_xl-5">5</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-8">8</div>
        <div class="grid__column grid__column_xl-4">4</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-9">9</div>
        <div class="grid__column grid__column_xl-3">3</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-10">10</div>
        <div class="grid__column grid__column_xl-2">2</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-11">11</div>
        <div class="grid__column grid__column_xl-1">1</div>
    </div>
    <div class="grid__row">
        <div class="grid__column grid__column_xl-12">12</div>
    </div>
</div>
