$-nsg-sample2-american-football-athletic-exercise-x      : -15px;
$-nsg-sample2-american-football-athletic-exercise-y      : -15px;
$-nsg-sample2-american-football-athletic-exercise-width  : 512px;
$-nsg-sample2-american-football-athletic-exercise-height : 512px;
$-nsg-sample2-american-football-athletic-exercise        : $-nsg-sample2-american-football-athletic-exercise-x $-nsg-sample2-american-football-athletic-exercise-y $-nsg-sample2-american-football-athletic-exercise-width $-nsg-sample2-american-football-athletic-exercise-height;
$-nsg-sample2-arrow-athletic-exercise-x                  : -557px;
$-nsg-sample2-arrow-athletic-exercise-y                  : -15px;
$-nsg-sample2-arrow-athletic-exercise-width              : 512px;
$-nsg-sample2-arrow-athletic-exercise-height             : 512px;
$-nsg-sample2-arrow-athletic-exercise                    : $-nsg-sample2-arrow-athletic-exercise-x $-nsg-sample2-arrow-athletic-exercise-y $-nsg-sample2-arrow-athletic-exercise-width $-nsg-sample2-arrow-athletic-exercise-height;
$-nsg-sample2-badminton-exercise-x                       : -15px;
$-nsg-sample2-badminton-exercise-y                       : -557px;
$-nsg-sample2-badminton-exercise-width                   : 512px;
$-nsg-sample2-badminton-exercise-height                  : 512px;
$-nsg-sample2-badminton-exercise                         : $-nsg-sample2-badminton-exercise-x $-nsg-sample2-badminton-exercise-y $-nsg-sample2-badminton-exercise-width $-nsg-sample2-badminton-exercise-height;
$-nsg-sample2-baseball-exercise-x                        : -557px;
$-nsg-sample2-baseball-exercise-y                        : -557px;
$-nsg-sample2-baseball-exercise-width                    : 512px;
$-nsg-sample2-baseball-exercise-height                   : 512px;
$-nsg-sample2-baseball-exercise                          : $-nsg-sample2-baseball-exercise-x $-nsg-sample2-baseball-exercise-y $-nsg-sample2-baseball-exercise-width $-nsg-sample2-baseball-exercise-height;
$-nsg-sample2-bicycle-bike-x                             : -1099px;
$-nsg-sample2-bicycle-bike-y                             : -15px;
$-nsg-sample2-bicycle-bike-width                         : 512px;
$-nsg-sample2-bicycle-bike-height                        : 512px;
$-nsg-sample2-bicycle-bike                               : $-nsg-sample2-bicycle-bike-x $-nsg-sample2-bicycle-bike-y $-nsg-sample2-bicycle-bike-width $-nsg-sample2-bicycle-bike-height;
$-nsg-sample2-boxing-exercise-x                          : -1099px;
$-nsg-sample2-boxing-exercise-y                          : -557px;
$-nsg-sample2-boxing-exercise-width                      : 512px;
$-nsg-sample2-boxing-exercise-height                     : 512px;
$-nsg-sample2-boxing-exercise                            : $-nsg-sample2-boxing-exercise-x $-nsg-sample2-boxing-exercise-y $-nsg-sample2-boxing-exercise-width $-nsg-sample2-boxing-exercise-height;
$-nsg-sample2-exercise-fencing-x                         : -15px;
$-nsg-sample2-exercise-fencing-y                         : -1099px;
$-nsg-sample2-exercise-fencing-width                     : 512px;
$-nsg-sample2-exercise-fencing-height                    : 512px;
$-nsg-sample2-exercise-fencing                           : $-nsg-sample2-exercise-fencing-x $-nsg-sample2-exercise-fencing-y $-nsg-sample2-exercise-fencing-width $-nsg-sample2-exercise-fencing-height;
$-nsg-sample2-exercise-game-2-x                          : -557px;
$-nsg-sample2-exercise-game-2-y                          : -1099px;
$-nsg-sample2-exercise-game-2-width                      : 512px;
$-nsg-sample2-exercise-game-2-height                     : 512px;
$-nsg-sample2-exercise-game-2                            : $-nsg-sample2-exercise-game-2-x $-nsg-sample2-exercise-game-2-y $-nsg-sample2-exercise-game-2-width $-nsg-sample2-exercise-game-2-height;
$-nsg-sample2-exercise-game-4-x                          : -1099px;
$-nsg-sample2-exercise-game-4-y                          : -1099px;
$-nsg-sample2-exercise-game-4-width                      : 512px;
$-nsg-sample2-exercise-game-4-height                     : 512px;
$-nsg-sample2-exercise-game-4                            : $-nsg-sample2-exercise-game-4-x $-nsg-sample2-exercise-game-4-y $-nsg-sample2-exercise-game-4-width $-nsg-sample2-exercise-game-4-height;
$-nsg-sample2-exercise-game-x                            : -1641px;
$-nsg-sample2-exercise-game-y                            : -15px;
$-nsg-sample2-exercise-game-width                        : 512px;
$-nsg-sample2-exercise-game-height                       : 512px;
$-nsg-sample2-exercise-game                              : $-nsg-sample2-exercise-game-x $-nsg-sample2-exercise-game-y $-nsg-sample2-exercise-game-width $-nsg-sample2-exercise-game-height;

@mixin -nsg-sample2-sprite-image {
  background-image : url('src/assets/img/sprites/nsg-sample2.png');
}

@mixin -nsg-sample2-sprite-position($sprite) {
  background-position : nth($sprite, 1) nth($sprite, 2);
}

@mixin -nsg-sample2-sprite-width($sprite) {
  width : nth($sprite, 3);
}

@mixin -nsg-sample2-sprite-height($sprite) {
  height : nth($sprite, 4);
}

@mixin -nsg-sample2-sprite($sprite) {
  @include -nsg-sample2-sprite-image;
  @include -nsg-sample2-sprite-position($sprite);
  @include -nsg-sample2-sprite-width($sprite);
  @include -nsg-sample2-sprite-height($sprite);
}
