$-nsg-all-sprites-android-files-mobile-x                     : -15px;
$-nsg-all-sprites-android-files-mobile-y                     : -15px;
$-nsg-all-sprites-android-files-mobile-width                 : 512px;
$-nsg-all-sprites-android-files-mobile-height                : 512px;
$-nsg-all-sprites-android-files-mobile                       : $-nsg-all-sprites-android-files-mobile-x $-nsg-all-sprites-android-files-mobile-y $-nsg-all-sprites-android-files-mobile-width $-nsg-all-sprites-android-files-mobile-height;
$-nsg-all-sprites-aplication-deb-dll-x                       : -557px;
$-nsg-all-sprites-aplication-deb-dll-y                       : -15px;
$-nsg-all-sprites-aplication-deb-dll-width                   : 512px;
$-nsg-all-sprites-aplication-deb-dll-height                  : 512px;
$-nsg-all-sprites-aplication-deb-dll                         : $-nsg-all-sprites-aplication-deb-dll-x $-nsg-all-sprites-aplication-deb-dll-y $-nsg-all-sprites-aplication-deb-dll-width $-nsg-all-sprites-aplication-deb-dll-height;
$-nsg-all-sprites-apple-fat32-mac-x                          : -15px;
$-nsg-all-sprites-apple-fat32-mac-y                          : -557px;
$-nsg-all-sprites-apple-fat32-mac-width                      : 512px;
$-nsg-all-sprites-apple-fat32-mac-height                     : 512px;
$-nsg-all-sprites-apple-fat32-mac                            : $-nsg-all-sprites-apple-fat32-mac-x $-nsg-all-sprites-apple-fat32-mac-y $-nsg-all-sprites-apple-fat32-mac-width $-nsg-all-sprites-apple-fat32-mac-height;
$-nsg-all-sprites-apple-files-ios-x                          : -557px;
$-nsg-all-sprites-apple-files-ios-y                          : -557px;
$-nsg-all-sprites-apple-files-ios-width                      : 512px;
$-nsg-all-sprites-apple-files-ios-height                     : 512px;
$-nsg-all-sprites-apple-files-ios                            : $-nsg-all-sprites-apple-files-ios-x $-nsg-all-sprites-apple-files-ios-y $-nsg-all-sprites-apple-files-ios-width $-nsg-all-sprites-apple-files-ios-height;
$-nsg-all-sprites-cdr-eps-files-x                            : -1099px;
$-nsg-all-sprites-cdr-eps-files-y                            : -15px;
$-nsg-all-sprites-cdr-eps-files-width                        : 512px;
$-nsg-all-sprites-cdr-eps-files-height                       : 512px;
$-nsg-all-sprites-cdr-eps-files                              : $-nsg-all-sprites-cdr-eps-files-x $-nsg-all-sprites-cdr-eps-files-y $-nsg-all-sprites-cdr-eps-files-width $-nsg-all-sprites-cdr-eps-files-height;
$-nsg-all-sprites-configuration-files-help-2-x               : -1099px;
$-nsg-all-sprites-configuration-files-help-2-y               : -557px;
$-nsg-all-sprites-configuration-files-help-2-width           : 512px;
$-nsg-all-sprites-configuration-files-help-2-height          : 512px;
$-nsg-all-sprites-configuration-files-help-2                 : $-nsg-all-sprites-configuration-files-help-2-x $-nsg-all-sprites-configuration-files-help-2-y $-nsg-all-sprites-configuration-files-help-2-width $-nsg-all-sprites-configuration-files-help-2-height;
$-nsg-all-sprites-configuration-files-help-x                 : -15px;
$-nsg-all-sprites-configuration-files-help-y                 : -1099px;
$-nsg-all-sprites-configuration-files-help-width             : 512px;
$-nsg-all-sprites-configuration-files-help-height            : 512px;
$-nsg-all-sprites-configuration-files-help                   : $-nsg-all-sprites-configuration-files-help-x $-nsg-all-sprites-configuration-files-help-y $-nsg-all-sprites-configuration-files-help-width $-nsg-all-sprites-configuration-files-help-height;
$-nsg-all-sprites-database-dbs-files-x                       : -557px;
$-nsg-all-sprites-database-dbs-files-y                       : -1099px;
$-nsg-all-sprites-database-dbs-files-width                   : 512px;
$-nsg-all-sprites-database-dbs-files-height                  : 512px;
$-nsg-all-sprites-database-dbs-files                         : $-nsg-all-sprites-database-dbs-files-x $-nsg-all-sprites-database-dbs-files-y $-nsg-all-sprites-database-dbs-files-width $-nsg-all-sprites-database-dbs-files-height;
$-nsg-all-sprites-files-hack-secret-x                        : -1099px;
$-nsg-all-sprites-files-hack-secret-y                        : -1099px;
$-nsg-all-sprites-files-hack-secret-width                    : 512px;
$-nsg-all-sprites-files-hack-secret-height                   : 512px;
$-nsg-all-sprites-files-hack-secret                          : $-nsg-all-sprites-files-hack-secret-x $-nsg-all-sprites-files-hack-secret-y $-nsg-all-sprites-files-hack-secret-width $-nsg-all-sprites-files-hack-secret-height;
$-nsg-all-sprites-files-ntfs-operating-x                     : -1641px;
$-nsg-all-sprites-files-ntfs-operating-y                     : -15px;
$-nsg-all-sprites-files-ntfs-operating-width                 : 512px;
$-nsg-all-sprites-files-ntfs-operating-height                : 512px;
$-nsg-all-sprites-files-ntfs-operating                       : $-nsg-all-sprites-files-ntfs-operating-x $-nsg-all-sprites-files-ntfs-operating-y $-nsg-all-sprites-files-ntfs-operating-width $-nsg-all-sprites-files-ntfs-operating-height;
$-nsg-all-sprites-american-football-athletic-exercise-x      : -1641px;
$-nsg-all-sprites-american-football-athletic-exercise-y      : -557px;
$-nsg-all-sprites-american-football-athletic-exercise-width  : 512px;
$-nsg-all-sprites-american-football-athletic-exercise-height : 512px;
$-nsg-all-sprites-american-football-athletic-exercise        : $-nsg-all-sprites-american-football-athletic-exercise-x $-nsg-all-sprites-american-football-athletic-exercise-y $-nsg-all-sprites-american-football-athletic-exercise-width $-nsg-all-sprites-american-football-athletic-exercise-height;
$-nsg-all-sprites-arrow-athletic-exercise-x                  : -1641px;
$-nsg-all-sprites-arrow-athletic-exercise-y                  : -1099px;
$-nsg-all-sprites-arrow-athletic-exercise-width              : 512px;
$-nsg-all-sprites-arrow-athletic-exercise-height             : 512px;
$-nsg-all-sprites-arrow-athletic-exercise                    : $-nsg-all-sprites-arrow-athletic-exercise-x $-nsg-all-sprites-arrow-athletic-exercise-y $-nsg-all-sprites-arrow-athletic-exercise-width $-nsg-all-sprites-arrow-athletic-exercise-height;
$-nsg-all-sprites-badminton-exercise-x                       : -15px;
$-nsg-all-sprites-badminton-exercise-y                       : -1641px;
$-nsg-all-sprites-badminton-exercise-width                   : 512px;
$-nsg-all-sprites-badminton-exercise-height                  : 512px;
$-nsg-all-sprites-badminton-exercise                         : $-nsg-all-sprites-badminton-exercise-x $-nsg-all-sprites-badminton-exercise-y $-nsg-all-sprites-badminton-exercise-width $-nsg-all-sprites-badminton-exercise-height;
$-nsg-all-sprites-baseball-exercise-x                        : -557px;
$-nsg-all-sprites-baseball-exercise-y                        : -1641px;
$-nsg-all-sprites-baseball-exercise-width                    : 512px;
$-nsg-all-sprites-baseball-exercise-height                   : 512px;
$-nsg-all-sprites-baseball-exercise                          : $-nsg-all-sprites-baseball-exercise-x $-nsg-all-sprites-baseball-exercise-y $-nsg-all-sprites-baseball-exercise-width $-nsg-all-sprites-baseball-exercise-height;
$-nsg-all-sprites-bicycle-bike-x                             : -1099px;
$-nsg-all-sprites-bicycle-bike-y                             : -1641px;
$-nsg-all-sprites-bicycle-bike-width                         : 512px;
$-nsg-all-sprites-bicycle-bike-height                        : 512px;
$-nsg-all-sprites-bicycle-bike                               : $-nsg-all-sprites-bicycle-bike-x $-nsg-all-sprites-bicycle-bike-y $-nsg-all-sprites-bicycle-bike-width $-nsg-all-sprites-bicycle-bike-height;
$-nsg-all-sprites-boxing-exercise-x                          : -1641px;
$-nsg-all-sprites-boxing-exercise-y                          : -1641px;
$-nsg-all-sprites-boxing-exercise-width                      : 512px;
$-nsg-all-sprites-boxing-exercise-height                     : 512px;
$-nsg-all-sprites-boxing-exercise                            : $-nsg-all-sprites-boxing-exercise-x $-nsg-all-sprites-boxing-exercise-y $-nsg-all-sprites-boxing-exercise-width $-nsg-all-sprites-boxing-exercise-height;
$-nsg-all-sprites-exercise-fencing-x                         : -2183px;
$-nsg-all-sprites-exercise-fencing-y                         : -15px;
$-nsg-all-sprites-exercise-fencing-width                     : 512px;
$-nsg-all-sprites-exercise-fencing-height                    : 512px;
$-nsg-all-sprites-exercise-fencing                           : $-nsg-all-sprites-exercise-fencing-x $-nsg-all-sprites-exercise-fencing-y $-nsg-all-sprites-exercise-fencing-width $-nsg-all-sprites-exercise-fencing-height;
$-nsg-all-sprites-exercise-game-2-x                          : -2183px;
$-nsg-all-sprites-exercise-game-2-y                          : -557px;
$-nsg-all-sprites-exercise-game-2-width                      : 512px;
$-nsg-all-sprites-exercise-game-2-height                     : 512px;
$-nsg-all-sprites-exercise-game-2                            : $-nsg-all-sprites-exercise-game-2-x $-nsg-all-sprites-exercise-game-2-y $-nsg-all-sprites-exercise-game-2-width $-nsg-all-sprites-exercise-game-2-height;
$-nsg-all-sprites-exercise-game-4-x                          : -2183px;
$-nsg-all-sprites-exercise-game-4-y                          : -1099px;
$-nsg-all-sprites-exercise-game-4-width                      : 512px;
$-nsg-all-sprites-exercise-game-4-height                     : 512px;
$-nsg-all-sprites-exercise-game-4                            : $-nsg-all-sprites-exercise-game-4-x $-nsg-all-sprites-exercise-game-4-y $-nsg-all-sprites-exercise-game-4-width $-nsg-all-sprites-exercise-game-4-height;
$-nsg-all-sprites-exercise-game-x                            : -2183px;
$-nsg-all-sprites-exercise-game-y                            : -1641px;
$-nsg-all-sprites-exercise-game-width                        : 512px;
$-nsg-all-sprites-exercise-game-height                       : 512px;
$-nsg-all-sprites-exercise-game                              : $-nsg-all-sprites-exercise-game-x $-nsg-all-sprites-exercise-game-y $-nsg-all-sprites-exercise-game-width $-nsg-all-sprites-exercise-game-height;

@mixin -nsg-all-sprites-sprite-image {
  background-image : url('src/assets/img/sprites/nsg-all-sprites.png');
}

@mixin -nsg-all-sprites-sprite-position($sprite) {
  background-position : nth($sprite, 1) nth($sprite, 2);
}

@mixin -nsg-all-sprites-sprite-width($sprite) {
  width : nth($sprite, 3);
}

@mixin -nsg-all-sprites-sprite-height($sprite) {
  height : nth($sprite, 4);
}

@mixin -nsg-all-sprites-sprite($sprite) {
  @include -nsg-all-sprites-sprite-image;
  @include -nsg-all-sprites-sprite-position($sprite);
  @include -nsg-all-sprites-sprite-width($sprite);
  @include -nsg-all-sprites-sprite-height($sprite);
}
