@use 'sass:math';
@use '../abstract';

//@each $breakpoint, $size in abstract.$breakpoints {
//  @for $columns from 1 through abstract.$grid-columns {
//    .col-#{$breakpoint}-#{$columns} {
//
//      @include abstract.breakpoint($breakpoint) {
//        width : calc(#{math.div( 100%, abstract.$grid-columns) * $columns} - #{(2 * abstract.$grid-gap)});
//        // width: calc( ( math.div( 100%, #{abstract.$grid-columns}) * #{$columns}) - (2 * #{abstract.$grid-gap}));
//      }
//    }
//  }
//}

.flex-grid {
  &__row {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    gap            : 10px 20px;
  }

  &__column {
    flex-basis : 100%;

    @each $breakpoint, $size in abstract.$breakpoints {
      @for $columns from 1 through abstract.$grid-columns {
        &_#{$breakpoint}-#{$columns} {
          flex : math.div($columns, abstract.$grid-columns);
        }
      }
    }
  }

}

.grid {
  &__row {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
  }

  &__column {
    flex-basis : 100%;

    @each $breakpoint, $size in abstract.$breakpoints {
      @for $columns from 1 through abstract.$grid-columns {
        &_#{$breakpoint}-#{$columns} {
          flex : math.div($columns, abstract.$grid-columns);
        }
      }
    }
  }
}