$breakpoints : (
        xxs: 480px,
        xs: 576px,
        sm: 768px,
        md: 1024px,
        lg: 1280px,
        xl: 1440px,
        xxl: 1920px
);

$font-sizes  : (
        xxs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        sm: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        md: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        lg: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xxl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        )
);

$border-widths : (
        xxs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        sm: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        md: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        lg: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xxl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        )
);

$line-heights  : (
        xxs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        sm: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        md: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        lg: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xxl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        )
);

$spacer-sizes: (
        xxs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xs: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        sm: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        md: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        lg: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        ),
        xxl: (
                100: 10px,
                200: 12px,
                300: 14px,
                400: 16px,
                500: 18px,
                600: 20px,
                700: 22px,
                800: 24px,
                900: 26px
        )
);