$colors : (
        primary: (
                300: #333,
                400: #444,
                500: #555
        ),
        secondary: (
                300: #333,
                400: #444,
                500: #555
        ),
        accent: (
                300: #333,
                400: #444,
                500: #555
        ),
        neutrals: (
                100: #333,
                200: #333,
                300: #333,
                400: #444,
                500: #444,
                600: #444,
                700: #444,
                800: #444,
                900: #555
        )
);