@use '../abstract';

html {
  font-size: abstract.$base-font-size;
}

body {
  font-size: var(--font-size-300);
  line-height: var(--line-height);
}

h1,
.h1 {
  font-size: var(--font-size-900);
}

h2,
.h2 {
  font-size: var(--font-size-800);
}

h3,
.h3 {
  font-size: var(--font-size-700);
}

h4,
.h4 {
  font-size: var(--font-size-600);
}

h5,
.h5 {
  font-size: var(--font-size-500);
}

h6,
.h6 {
  font-size: var(--font-size-400);
}

sub,
sup {
  font-size: var(--font-size-200);
}

small {
  font-size: var(--font-size-100);
}