@use '../breakpoints' as *;

@mixin breakpoint($size-key) {
  $size: null;
  @if type-of($size-key) == string {
    $size : map-get($breakpoints, $size-key);
  }
  @else if type-of($size-key) == number {
    $size : $size-key;
  }
  @else {
    @error 'illegal property value for $size-key : #{$size-key}';
  }

  @if $size {
    @media only screen and (min-width : $size) {
      @content;
    }
  }
}