@use '../functions/sprite-functions';

/* ------------------------------
    ### Private Helper Mixins
    Base Config for Background sprites
    Weiterer Content kann an das Mixin uebergeben werden..
   ------------------------------ */
@mixin _sprite($sprite, $pseudo-class : 'after') {
  $position-property : 'right';

  position           : relative;
  display            : inline-block;

  @include sprite-width($sprite);
  @include sprite-height($sprite);

  @if not (($pseudo-class == 'after') or ($pseudo-class == 'before')) {
    @debug 'given pseudo-class value \'#{$pseudo-class}\' is ignored! use default value: \'after\'';
    $pseudo-class : 'after';
  }

  @if $pseudo-class == 'before' {
    $position-property : 'left';
  }

  &::#{$pseudo-class} {
    content              : '';
    position             : absolute;
    top                  : calc(50% - (#{sprite-functions.sprite-height($sprite)} / 2));
    #{$position-property}: 0;

    @include sprite($sprite);
    @content;
  }
}


/* ------------------------------
    ### Mixin fuer Elemente, deren after Pseudo-Element ein Hintergrundbild darstellen soll.
    @param sprite-height: Der Parameter wird fuer die vertikale Zentrierung des Bildes verwendet.

    Weiterer Content kann an das Mixin uebergeben werden. Dieser wird innerhalb des after Pseudoelements ausgegeben.
   ------------------------------ */
@mixin after-sprite($sprite) {
  @include _sprite($sprite, 'after') {
    @content;
  }
}

/* ------------------------------
    ### Mixin fuer Elemente, deren before Pseudo-Element ein Hintergrundbild darstellen soll.
    @param sprite-height: Der Parameter wird fuer die vertikale Zentrierung des Bildes verwendet.

    Weiterer Content kann an das Mixin uebergeben werden. Dieser wird innerhalb des before Pseudoelements ausgegeben.
   ------------------------------ */
@mixin before-sprite($sprite) {
  @include _sprite($sprite, 'before') {
    @content;
  }
}

@mixin sprite-image($sprite) {
  $_image: sprite-functions.sprite-image($sprite);
  @if $_image {
    background-image  : url('#{$_image}');
    background-repeat : no-repeat;
  }
}

@mixin sprite-position($sprite) {
  $_position: sprite-functions.sprite-position($sprite);
  @if $_position {
    background-position : #{$_position};
  }
}

@mixin sprite-size($sprite) {
  $_size: sprite-functions.sprite-size($sprite);
  @if $_size {
    background-size : #{$_size};
  }
}

@mixin sprite-width($sprite) {
  $_width: sprite-functions.sprite-width($sprite);
  @if $_width {
    width : #{$_width};
  }
}

@mixin sprite-height($sprite) {
  $_height: sprite-functions.sprite-height($sprite);
  @if $_height {
    height : #{$_height}
  }
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-size($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);

  @content;
}
