<nav>
    <ul class="nav__primary">
        {{#> snippet__nav__primary__listentries btnIndex="level-0" size=7 }}
            {{#> snippet__nav__primary__container }}

                <ul class="nav__sub nav__sub-1">
                    {{#> snippet__nav__primary__listentries btnIndex="level-1" size=(random 2 10) }}

                        <ul class="nav__sub nav__sub-2">
                            {{#> snippet__nav__primary__listentries btnIndex="level-2" size=(random 2 10) }}

                                <ul class="nav__sub nav__sub-3">
                                    {{#> snippet__nav__primary__listentries btnIndex="level-3" size=(random 2 10) }}
                                    {{/snippet__nav__primary__listentries}}
                                </ul>

                            {{/snippet__nav__primary__listentries}}
                        </ul>

                    {{/snippet__nav__primary__listentries}}
                </ul>

            {{/snippet__nav__primary__container}}
        {{/snippet__nav__primary__listentries}}
    </ul>

    <!-- Close Button -->
    <input checked type="radio" class="nav__btn nav__btn--close" name="nav-toggle-level-0" id="nav-close"
           aria-haspopup="false" aria-expanded="false" aria-labelledby="nav-label-close">
    {{!--    <label tabindex="0" for="nav-close" class="nav__btn-label nav__btn-label--close">close</label> --}}
</nav>
