<nav class="nav nav__primary">
    <ol>
        <li class="nav__item">
            <label for="item0">close menu</label>
            <input checked type="radio" class="nav__btn--close" name="nav0" id="item0" title="close enu">
        </li>

        <li class="nav__item">
            <a href="#">item1</a>
            <input type="radio" class="nav__btn" name="nav0" id="item1" title="item1">

            <ol>
                <li class="nav__item">
                    <a href="#">item1-1</a>
                    <input type="radio" class="nav__btn" name="nav0-1" id="item1-1" title="item1-1">

                    <ol>
                        <li class="nav__item">
                            <a href="#">item1-1-1</a>
                            <input type="radio" class="nav__btn" name="nav0-1-1" id="item1-1-1" title="item1-1-1">
                        </li>

                        <li class="nav__item">
                            <a href="#">item1-1-2</a>
                            <input type="radio" class="nav__btn" name="nav0-1-1" id="item1-1-2" title="item1-1-2">
                        </li>

                        <li class="nav__item">
                            <a href="#">item1-1-3</a>
                            <input type="radio" class="nav__btn" name="nav0-1-1" id="item1-1-3" title="item1-1-3">
                        </li>
                    </ol>
                </li>

                <li class="nav__item">
                    <a href="#">item1-2</a>
                    <input type="radio" class="nav__btn" name="nav0-1" id="item1-2" title="item1-2">

                    <ol>
                        <li class="nav__item">
                            <a href="#">item1-2-1</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item1-2-1" title="item1-2-1">
                        </li>

                        <li class="nav__item">
                            <a href="#">item1-2-2</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item1-2-2" title="item1-2-2">
                        </li>

                        <li class="nav__item">
                            <a href="#">item1-2-3</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item1-2-3" title="item1-2-3">
                        </li>
                    </ol>
                </li>
            </ol>
        </li>

        <li class="nav__item">
            <a href="#">item2</a>
            <input type="radio" class="nav__btn" name="nav0" id="item2" title="item2">

            <ol>
                <li class="nav__item">
                    <a href="#">item2-1</a>
                    <input type="radio" class="nav__btn" name="nav0-2" id="item2-1" title="item2-1">

                    <ol>
                        <li class="nav__item">
                            <a href="#">item2-1-1</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item2-1-1" title="item2-1-1">
                        </li>

                        <li class="nav__item">
                            <a href="#">item2-1-2</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item2-1-2" title="item2-1-2">
                        </li>

                        <li class="nav__item">
                            <a href="#">item2-1-3</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item2-1-3" title="item2-1-3">
                        </li>
                    </ol>
                </li>

                <li class="nav__item">
                    <a href="#">item2-2</a>
                    <input type="radio" class="nav__btn" name="nav0-2" id="item2-2" title="item2-2">

                    <ol>
                        <li class="nav__item">
                            <a href="#">item2-2-1</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item2-2-1" title="item2-2-1">
                        </li>

                        <li class="nav__item">
                            <a href="#">item2-2-2</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item2-2-2" title="item2-2-2">
                        </li>

                        <li class="nav__item">
                            <a href="#">item2-2-3</a>
                            <input type="radio" class="nav__btn" name="nav0-2-1" id="item2-2-3" title="item2-2-3">
                        </li>
                    </ol>
                </li>
            </ol>
        </li>

        <li class="nav__item">
            <a href="#">item3</a>
            <input type="radio" class="nav__btn" name="nav0" id="item3" title="item3">

            <ol>
                <li class="nav__item">
                    <a href="#">item3-1</a>
                    <input type="radio" class="nav__btn" name="nav0-3" id="item3-1" title="item3-1">

                    <ol>
                        <li class="nav__item">
                            <a href="#">item3-1-1</a>
                            <input type="radio" class="nav__btn" name="nav0-3-1" id="item3-1-1" title="item3-1-1">
                        </li>

                        <li class="nav__item">
                            <a href="#">item3-1-2</a>
                            <input type="radio" class="nav__btn" name="nav0-3-1" id="item3-1-2" title="item3-1-2">
                        </li>

                        <li class="nav__item">
                            <a href="#">item3-1-3</a>
                            <input type="radio" class="nav__btn" name="nav0-3-1" id="item3-1-3" title="item3-1-3">
                        </li>
                    </ol>
                </li>

                <li class="nav__item">
                    <a href="#">item3-2</a>
                    <input type="radio" class="nav__btn" name="nav0-3" id="item3-2" title="item3-2">

                    <ol>
                        <li class="nav__item">
                            <a href="#">item3-2-1</a>
                            <input type="radio" class="nav__btn" name="nav0-3-1" id="item3-2-1" title="item3-2-1">
                        </li>

                        <li class="nav__item">
                            <a href="#">item3-2-2</a>
                            <input type="radio" class="nav__btn" name="nav0-3-1" id="item3-2-2" title="item3-2-2">
                        </li>

                        <li class="nav__item">
                            <a href="#">item3-2-3</a>
                            <input type="radio" class="nav__btn" name="nav0-3-1" id="item3-2-3" title="item3-2-3">
                        </li>
                    </ol>
                </li>
            </ol>
        </li>

    </ol>
</nav>