<li class="nav__item">
    <input type="radio" class="nav__btn nav__btn--toggle" name="nav-btn" id="item{{index}}" title="close menu">
    <label class="nav__btn-label" for="item{{index}}">toggle</label>

    <a class="nav__label" href="https://www.google.de">
        item {{index}}
    </a>

    {{> @partial-block }}
</li>
