<li class="nav__item">
    <a href="#">
        item {{index}}
    </a>

    <input type="radio" class="nav__btn nav__btn--toggle" name="nav-toggle-{{btnIndex}}" id="nav-toggle-{{index}}"
           aria-haspopup="false" aria-expanded="false" aria-labelledby="nav-label">
    <label tabindex="0" for="nav-toggle-{{index}}" class="nav__btn-label">toggle</label>

    {{> @partial-block }}
</li>
