<div class="nav__container">
    <input type="radio" class="nav__btn nav__btn--close" name="nav-btn" id="item{{index}}" title="close menu">
    <label class="nav__btn-label" for="item{{index}}">close menu</label>

    <p>
        <a href="#">
            &Uuml;bersicht item {{index}}
        </a>
    </p>

    {{> @partial-block }}
</div>