<div class="nav__flyout-container">
{{!--
    <!-- Close Button -->
    <input checked type="radio" class="nav__btn nav__btn--close" name="nav-close" id="nav-close-{{index}}"
           aria-haspopup="false" aria-expanded="false" aria-labelledby="nav-label-close">
    <label tabindex="0" for="nav-close-{{index}}" class="nav__btn-label nav__btn-label--close">close</label>
--}}
    <label tabindex="0" for="nav-close" class="nav__btn-label nav__btn-label--close">close</label>

    <p>
        <a href="#">Uebersicht Menu {{@index}}</a>
    </p>

    <div class="nav__subnavs-container">
        {{> @partial-block }}
    </div>
</div>
