---
layout: simple
noscript: false
isRootPage: true
---
<h1>Clickdummy</h1>

<ul>
    <li>
        <a href="doc/index.html">Styleguide</a>
    </li>
    <li>
        <a href="doc/index.html">Dokumentation</a>
    </li>
    <li>
        <a href="site/index.html">Start</a>
    </li>
</ul>
