@forward 'breadcrumb';
@forward 'nav-primary';
@forward 'nav-primary--container-flyout';

nav {
  li {
    list-style : none;

    ul {
      padding : 20px; // TODO
    }
  }
}

.nav__btn {
  display : none;
  height  : 1px;
  width   : 1px;

  &:checked {
    & ~ .nav__btn-label {
      --nav--btn-label : '=';
    }
  }
}

.nav__btn-label {
  --nav--btn-label : '+';

  color            : var(--color-transparent-900);
  cursor           : pointer;
  overflow         : hidden;
  width            : 2rem; // TODO Button-Width Var verwenden
  display          : inline-block;
  position         : relative;

  &:before {
    content    : var(--nav--btn-label);
    color      : hotpink; // TODO
    position   : absolute;
    inset      : 0;
    text-align : center;
  }

  &.nav__btn-label--close {
    --nav--btn-label : 'X';
  }
}
