@use '../../abstract';

.nav__primary {
  display     : flex;
  align-items : center;
  position    : relative;
  margin      : 0;
  padding     : 0;

  .nav__item {
    .nav__btn--toggle {
      ~ ul {
        display : none;
      }

      &:checked {
        ~ .nav__flyout-container {
          --nav--container-display : block;

          > ul {
            display : block;
          }
        }

        ~ ul {
          display : block;
        }
      }

    }


    .nav__flyout-container {
      --nav--container-display   : none;
      --nav-sub-container-offset : 0;
      --nav-sub-container-width  : 300px; //todo

      display                    : var(--nav--container-display);
      position                   : absolute;
      left                       : 0;
      background-color           : lime; // TODO
      min-height                 : 50vh;
      width                      : 100%;

      .nav__btn--close {
        &:checked {
          --nav--container-display : none;
        }
      }

      .nav__subnavs-container {

        position : relative;


        .nav__sub {
          position : absolute;
          top      : 0;
          left     : var(--nav-sub-container-offset);
          width    : var(--nav-sub-container-width);

          &.nav__sub-1 {
          }

          &.nav__sub-2 {
            --nav-sub-container-offset : var(--nav-sub-container-width);
          }

          &.nav__sub-3 {
          }

        }
      }
    }

  }

}
